# device/realme/RE58C2/proprietary/vendor_dlkm/etc/init/init.realme.rc
on early-init
    # Load vendor_dlkm modules
    exec u:r:vendor_dlkm:s0 root -- /system/bin/sh -c "for mod in /vendor_dlkm/lib/modules/*.ko; do insmod \$mod || exit 1; done"
    
on boot
    # Late-init module loading if needed
    load_modules /vendor_dlkm/etc/modules.load
